GEMINI_API_KEY=AIzaSyBM2RBoqptop0TK-33PLLP1Wo2P06svx8w
VITE_GEMINI_API_KEY=AIzaSyBM2RBoqptop0TK-33PLLP1Wo2P06svx8w
VITE_SUPABASE_URL=https://jfhmbewpvsaurbriwtiw.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_h7IvpHH6ttKPKoyYBGwXqw_WMZ6u-H4
